In [1]:
import sys
import time
sys.path.append('../src')
from funpipes import *

In [2]:
%%time
fl = procesar_datos(scrape_flightera_data(), scrape_tutiempo_data())
fl.head()

Extraction completed
Aceptado normas
Aceptadas cookies
Página cargada
Registros extraídos
CPU times: total: 250 ms
Wall time: 2min 6s

,status,cod_flight_IATA,week_day,week_num,cod_airliner_IATA,cod_airport_IATA,hour,duration,Condition,Temperature,Wind,day_time
0,On Time,IB6653,Wednesday,49,IB,LIM,2023-12-05 00:20:00,12,Cloudy,6,7,Early Morning
1,On Time,AV47,Wednesday,49,AV,BOG,2023-12-05 00:35:00,10,Cloudy,6,7,Early Morning
2,On Time,LA2485,Wednesday,49,LA,LIM,2023-12-05 00:55:00,12,Cloudy,6,7,Early Morning
3,On Time,EK9390,Wednesday,49,EK,DWC,2023-12-05 01:10:00,7,Rain,6,6,Early Morning
4,On Time,FR2015,Wednesday,49,FR,ACE,2023-12-05 05:45:00,2,Partly cloudy,5,4,Early Morning

In [3]:
fl.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 0 to 396
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   status             397 non-null    object
 1   cod_flight_IATA    397 non-null    object
 2   week_day           397 non-null    object
 3   week_num           397 non-null    object
 4   cod_airliner_IATA  397 non-null    object
 5   cod_airport_IATA   397 non-null    object
 6   hour               397 non-null    datetime64[ns]
 7   duration           397 non-null    int64
 8   Condition          397 non-null    object
 9   Temperature        397 non-null    int64
 10  Wind               397 non-null    int64
 11  day_time           397 non-null    category
dtypes: category(1), datetime64[ns](1), int64(3), object(7)
memory usage: 37.8+ KB